body {
  color: rgb(220, 220, 220);
  background: black;
  font-family: monospace;
  flex-direction: column;
  font-size: 1.5em;
  margin-left: 20%;
  margin-right: 20%;
}

ul {
  list-style-type: square;
}

ul li::marker {
  color: lightgreen;
}

h1 {
  font-size: 1.9em;
  color: lightgreen;
}

h2 {
  font-size: 1.5em;
  color: lightgreen;
}

h3 {
  font-size: 1.2em;
  color: lightgreen;
}

a {
  color: hotpink !important;
  text-decoration-color: lightgreen !important;
}

a:hover {
  color: lightgreen !important;
  text-decoration-color: hotpink !important;
}

.back-button {
  position: fixed;
  top: 0px;
  left: 0px;
  padding: 0em 0.4em;
  cursor: pointer;
  font-size: 2em;
  text-decoration: none;
}

#nickname2 {
  background: linear-gradient(45deg, hotpink, lightgreen);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

#nickname {
  background: linear-gradient(
    90deg,
    hotpink,
    lightgreen,
    hotpink
  );
  background-size: 200% 100%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: moveGradient 3s linear infinite;
}

@keyframes moveGradient {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 200% 50%;
  }
}

@media (max-aspect-ratio: 1/1) {
  body {
    color: rgb(220, 220, 220);
    background: black;
    font-family: monospace;
    flex-direction: column;
    font-size: 2.1em;
    margin-left: 1em;
    margin-right: 1em;
    #stats {
      width: 100%;
    }
  }
}
